<div class="demo-notice-component">
    <div class="demo-notice-component-heading">
        {{this.fancyHeading}}
    </div>

    {{yield}}

    <div class="demo-notice-component-footer">
        {{@footer}}
    </div>
</div>