{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<DemoNoticeComponent @heading="This is a heading" @footer="This is a Footer">
    Regular Body Text
</DemoNoticeComponent>

<DemoNumbersComponent @numberList="1,10,20,55,69,132,334,1000,2000"></DemoNumbersComponent>

{{outlet}}